body {

background: white;
width: 80%;
margin: 0 auto;
font-family: Helvetica;
}	


/*links*/
a, a:active, a:visited {
        
        text-decoration: none;
}

a {
	color:#F2A885;
	font-weight: bold;
}

a:focus, a:hover {
        text-decoration: none;
}


/*header*/

#jill {
	width: 50%;
	}

.header {
	/*border: 1px solid black;*/
	width: 100%;
	margin: 0 auto;
	border-bottom: 4px solid #F2A885;
	border-radius: 10px;
}

.header:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}


.nav {
	/*border: 1px solid black;*/
	float:right;
}


.navbutton {
	display: inline-block;
	margin-top: 55px;
}

.navbutton a {
		background: white;
		height: 100%;
		text-align: center;
		padding: 10px;
    	border-radius: 10px;
    	margin-right: 10px;
    	border: 2px solid black;
	}

.navbutton a:hover {
	background: #F2A885;
	color: white;
}

/*footer*/

.contact {
	font-size: 1em;
}

.footer {
	border-radius: 10px;
	border-top: 4px solid #F2A885;
	font-weight: bold;
	font-size: 80%;
	margin-top: 2em;
  overflow: hidden;
  clear: all;
}


.footer .contact {
  float: left;
  margin-right: 3em;
}


/*about.html*/
.maincontent {
	width: 90%;
	margin: 0 auto;
	padding: 30px;

}

.maincontent:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.leftcontent {
	float: left;
	width: 20%;

}

#cocinera {
	
	border-left: .25em solid black;
	border-radius: 10px;
	width: 100%;
}

.rightcontenttop {
	width: 70%;
	float: right;
	margin-top: 20px;
}

.edbuttonsgroup {
	float: right;
	width: 70%;
}

.edbuttonsgroup .education {
		width: 130px;
		height: 200px;
		text-align: center;
		/*padding: 5px;*/
    border-radius: 10px;
    margin-right: 20px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    color: white;
		background: #F2A885;
		overflow: hidden;
		}

.edicon {
	height: 50%;
}

.edicon2 {
	height: 50%;
}

.edicon3 {
	height: 70%;
}

.education:hover {
	color: #F2A885;
	background: white;
}

/*contact.html*/
ul {
	margin-top: 40px;
}


/*blog.html*/

.blogentry {
	margin: 0 auto;
	width: 85%;
	padding-top: 20px;

}

.blogtitle {
	font-family: Courier;
	font-size: .8em;
}
